<div class="new-todo">
  <form [formGroup]="form" (ngSubmit)="form.valid && onAddToDo()">
    <input formControlName="newToDoTitle"
           name="newToDoTitle"
           type="text"
           placeholder="What needs to be done???"
           autofocus autocomplete="off"/>
    <div class="add-button-container">
      <button *ngIf="!saving && form.valid" type="submit" class="add-button" id="add-button">
        +
      </button>
      <div *ngIf="saving" class="remove-button">
        <td-spinner [spinnerSize]="'30px'" [delay]="0"></td-spinner>
      </div>
    </div>
  </form>
</div>
