<section class="todoapp">
  <header class="header">
    <h1>Simplistic ToDo</h1>
    <h4>A most simplistic ToDo List with Angular.</h4>
  </header>

  <section class="main">

    <div class="link-container">
      <p>
        Done: {{doneToDos.length}}
      </p>
    </div>


    <div class="new-todo">
      <input type="text" placeholder="What needs to be done?" autofocus autocomplete="off"
             [(ngModel)]="newToDoTitle"/>
      <button class="add-button" id="add-button" (click)="addToDo()">
        +
      </button>
    </div>

    <ul class="todo-list" >

      <li *ngFor="let todo of todos">
        {{todo.title}}
        <button class="remove-button" (click)="completeToDo(todo)">
          x
        </button>
      </li>

    </ul>

    </section>
</section>

<footer class="info">
  <p>JavaScript Example / Initial template from <a href="https://github.com/tastejs/todomvc-app-template">todomvc-app-template</a>
  </p>
</footer>
