<section class="todoapp">

  <header class="header">
    <h1>Simplistic ToDo</h1>
    <h4>A most simplistic ToDo List with Angular.</h4>
  </header>

  <section class="main">

    <div class="link-container">
      <p>
        Done:
      </p>
    </div>

    <div class="new-todo">
      <input type="text" placeholder="What needs to be done?" autofocus autocomplete="off"/>
      <button class="add-button" id="add-button">
        +
      </button>
    </div>

    <ul class="todo-list">
      <li>
        ToDo Description
        <button class="remove-button">
          x
        </button>
      </li>
    </ul>

  </section>

</section>

<footer class="info">
  <p>JavaScript Example / Initial template from <a href="https://github.com/tastejs/todomvc-app-template">todomvc-app-template</a>
  </p>
</footer>
